<!DOCTYPE html>
<html lang="en">
  <%- partial("_head") %>
  <body>
    <div id="wrapper">
      <%- partial("_sidebar") %>

      <div class="content">
        <h1><%= title %></h1>
        <div id='article'>
          <%- partial("_speakers") %>
          <%- yield %>
        </div>
      </div>
    </div>
  </body>
</html>
