<div id="sidebar" class="collapsed">
  <a class='brand' href="/">
    <img class="logo" src="<%= profile_url %>" />
    <h1 class="title"><%= site_title %></h1>
    <p class="tagline">
      Software enthusiasts<br/>
      meeting every month<br/>
      to share experiences
    </p>
  </a>

  <ul class="pages">
    <li><a href="/about">About<a></li>
  </ul>

  <ul class="social">
    <li><a href="<%= slack_url %>"><i class="fa fa-slack"></i> slack</a></li>
    <li><a href="<%= meetup_url %>"><i class="fa faux-fa-meetup"></i> meetup</a></li>
    <li><a href="<%= github_url %>"><i class="fa fa-github-square"></i> github</a></li>
    <li><a href="<%= youtube_url %>"><i class="fa fa-youtube"></i> youtube</a></li>
    <li><a href="<%= podcast_url %>"><i class="fa fa-microphone"></i> podcast</a></li>
  </ul>
</div>
